<launch>
  <arg 
  name="serial_number" 
  default="242222071812"/>

  <!-- See install instructions here: https://github.com/IntelRealSense/realsense-ros -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <param
    name="serial_no"
    value="$(arg serial_number)"/>

    <param 
    name="color_fps" 
    default="15"/>

    <param 
    name="depth_fps" 
    default="15"/>

  </include>

  <!-- See install instructions here: https://github.com/ethz-asl/image_undistort -->
  <include file="$(find image_undistort)/launch/undistort_realsense.launch" >
  </include>
</launch>
